.navbar {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 25px;
	padding-bottom: 20px;
}

.navbar .brand {
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left: 35px;
	margin-bottom: -15px;
}

.carousel {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.carousel-control {
	background: none;
	border: none;
	color: #999999;
	width: 20px;
	opacity: 1;
	filter: none;
}

.carousel-control:hover {
	color: #333333;
}

@media (max-width: 939px) {
	.carousel {
		width: 100%;
	}
}
