@media (min-width: 500px) and (max-width: 639px) {
	.navbar .container {
		width: 460px;
	}
}

@media (min-width: 640px) and (max-width: 767px) {
	.navbar .container {
		width: 600px;
	}
}

.navbar {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 25px;
}

.navbar .brand {
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 275px;
}

.navbar .nav-collapse .nav {
	margin-right: 0;
}


.nav-collapse .nav > li > a {
	font-weight: 300;
	margin-left: 290px;
}

.carousel {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.carousel-control {
	background: none;
	border: none;
	color: #999999;
	width: 20px;
	opacity: 1;
	filter: none;
}

.carousel-control:hover {
	color: #333333;
}

@media (max-width: 939px) {
	.carousel {
		width: 100%;
	}
}
