.jjp-portfolio {
	position: relative;
}

.jjp-thumbnail {
	position: absolute;
	display: none;
	perspective: 900;
	-moz-perspective: 900;
	-ms-perspective: 900;
	-o-perspective: 900;
	-webkit-perspective: 900;
}

.jjp-thumbnail.is-visible,.jjp-lightbox.is-visible {
	display: block;
}

.jjp-thumbnail.is-moving {
	z-index: 1;
}

.jjp-thumbnail-inner {
	position: absolute;
	left: 4%;
	top: 4%;
	right: 4%;
	bottom: 4%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	cursor: pointer;
	cursor: zoom-in;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	z-index: 0;
}

.jjp-is-base-gallery .jjp-thumbnail-inner {
	cursor: pointer;
}

.jjp-thumbnail-inner.is-pre-flip {
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.jjp-thumbnail-inner.is-post-flip {
	transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	z-index: 1;
}

.jjp-thumbnail-inner.is-faded {
	opacity: 0;
}

.jjp-lightbox {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: white;
	cursor: url('cursor-close.cur'), url('css/cursor-close.cur'), pointer;
	z-index: 2;
}

.jjp-lightbox.is-faded {
	background-color: transparent;
}

.jjp-lightbox-prev-control,.jjp-lightbox-next-control {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40%;
	background: white;
	opacity: 0;
	z-index: 4;
}

.jjp-lightbox-prev-control {
	left: 0;
	cursor: url('cursor-prev.cur'), url('css/cursor-prev.cur'), pointer;
}

.jjp-lightbox-next-control {
	right: 0;
	cursor: url('cursor-next.cur'), url('css/cursor-next.cur'), pointer;
}

.jjp-lightbox-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 3;
}

.jjp-lightbox.is-faded .jjp-lightbox-inner {
	opacity: 0;
}

.jjp-lightbox-inner.is-prev,.jjp-lightbox-inner.is-next {
	opacity: 0;
}

.jjp-lightbox-inner.is-prev {
	transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.jjp-lightbox-inner.is-next {
	transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	-webkit-transform: translateX(100%);
}

.jjp-lightbox-inner.is-hidden {
	display: none;
}

.jjp-lightbox-inner.is-backup {
	opacity: 0;
	z-index: 2;
}

.jjp-lightbox-image-holder,.jjp-lightbox-caption-holder {
	position: absolute;
	font-size: 0;
	text-align: center;
}

.jjp-lightbox-image-holder {
	left: 5%;
	top: 5%;
	right: 5%;
	bottom: 5%;
}

.jjp-lightbox-inner.is-captioned .jjp-lightbox-image-holder {
	bottom: 6%;
}

.jjp-lightbox-spacer {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	visibility: hidden;
}

.jjp-lightbox-image {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.jjp-lightbox-caption-holder {
	left: 20%;
	right: 20%;
	bottom: 0%;
	height: 6%;
	display: none;
}

.jjp-lightbox-inner.is-captioned .jjp-lightbox-caption-holder {
	display: block;
}

.jjp-lightbox-caption {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
