.jjp-portfolio {
	position: relative;
}

.jjp-thumbnail {
	position: absolute;
	display: none;
	perspective: 900;
	-moz-perspective: 900;
	-ms-perspective: 900;
	-o-perspective: 900;
	-webkit-perspective: 900;
}

.jjp-thumbnail.is-visible,.jjp-lightbox.is-visible {
	display: block;
}

.jjp-thumbnail.is-moving {
	z-index: 1;
}

.jjp-thumbnail-inner {
	position: relative;
	left: 4%;
	top: 4%;
	width: 92%;
	height: 92%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	cursor: zoom-in;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	z-index: 0;
}

.jjp-thumbnail-inner.is-pre-flip {
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.jjp-thumbnail-inner.is-post-flip {
	transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	z-index: 1;
}

.jjp-thumbnail-inner.is-pre-transition, .jjp-thumbnail-inner.is-post-transition {
	opacity: 0;
}

.jjp-lightbox {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(255, 255, 255, 1);
	font-size: 0;
	text-align: center;
	cursor: zoom-out;
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	z-index: 2;
}

.jjp-lightbox.is-pre-transition,.jjp-lightbox.is-post-transition {
	background-color: rgba(255, 255, 255, 0);
}

body.jjp-is-lightbox {
	overflow: hidden;
}

.jjp-lightbox-spacer {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.jjp-lightbox-image {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.jjp-lightbox-image.is-pre-transition,.jjp-lightbox-image.is-post-transition
	{
	opacity: 0;
}