.fake-body {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.main-container {
	width: 1070px;
	margin-left: auto;
	margin-top: 10px;
	margin-right: auto;
	position: relative;
}

#main-portfolio {
	left: 170px;
	top: 20px;
	width: 900px;
	height: 600px;
	position: absolute;
}

.sidebar {
	position: fixed;
	width: 150px;
	font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
	font-style: normal;
	font-size: 17px;
	line-height: 1.4;
}

.sidebar .logo {
	width: 100%;
}

.sidebar ul {
	list-style-type: none;
	padding: 0 0 0 10px;
	margin: 0;
}

.sidebar ul ul {
	padding: 5px 0 0 15px;
}

.sidebar a,.sidebar a:visited {
	color: black;
}

.sidebar a {
	text-decoration: none;
}

.sidebar a:active,.sidebar a.jjp-is-active {
	font-style: italic;
}

.sidebar a:hover,.sidebar a.jjp-is-highlight {
	color: #999999;
}

.jjp-lightbox-caption {
	font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
	font-style: normal;
	font-size: 17px;
}
